@font-face {
    font-family: 'Avenir LT Pro';
    src: url('../fonts/avenir/AvenirLTPro-Book.woff2') format('woff2'),
        url('../fonts/avenir/AvenirLTPro-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #78d5ef;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: 'Avenir LT Pro', -apple-system, BlinkMacSystemFont, 'Avenir LT Pro', Avenir LT Pro, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

.ftco-footer {

    background: #E96AAD !important;
}
  
.navbar-brand img {
    max-width: 150px;
    min-height: 5em;
}

.staff .img {
    height: 520px !important;
}

.ftco-navbar-light.scrolled, .ftco-navbar-light{
    background: #E54698 !important;
}

.ftco-navbar-light.scrolled .nav-link{
    color: white !important;
}

.ftco-navbar-light.scrolled .nav-item.active > a {
    color: rgba(255, 255, 255, 0.5) !important;
}
